root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cs,csx}]
indent_size = 4
# Treat analyzer violations seriously
dotnet_analyzer_diagnostic.category-Security.severity = error
csharp_style_namespace_declarations = file_scoped:warning
dotnet_sort_system_directives_first = true

[*.{json,yml,yaml,js,jsx,ts,tsx,css,html,tf}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
